.colorWrapper{
  padding: 10px;
  margin:auto;
  max-width: 1300px;
  .colorsRow{
    display:flex
  }
  .caption{
    color: #888888;
    line-height: 30px;
    text-align: center;
  }

  .header{
    padding-bottom: 22px;
    &__title{
      margin: auto;
      font-size: 45px;
      font-family: GEORGIA;
      color: #333333;
      width: 300px;
      text-align: center;
      border-bottom: solid 1px #333333;
    }
  }


  .colorTheme{
    margin-bottom: 15px;
    &__box{
      margin: 0.5px;
      height: 50px;
      width:  100px;
      background-color: rgb(255,0,0);
    }
  }


  .colorSample{
    .box{
      color: #cccccc;
      margin: 0.5px;
      height: 20px;
      width:100%;
      background-color:#eeeeee;
      &__font{
        text-align: center;
        line-height: 20px;
        margin: auto;
        font-size: 10px;
        transform:scale(0.8);
      }
    }
    #sampleRow4{
      #colorSampleBox13{
        color:#999999;
      }
    }
  }


  .colorPreview{
    margin-top:20px;
    display:flex;
    font-size:10px;

    .controller-font{
      &__text{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
      }
      &__style{
        display:flex;
        width:290px;
        &__japanese{
        }
        &__alphanumeric{
          padding-left:10px;
        }
      }
    }
    .previewWrap{
      position: relative;
      margin: auto;
      height: 250px;
      width: 350px;
      .preview-text{
        height: 250px;
        width: 350px;
        position:absolute;
        top: 0px;
        left: 0px;
        z-index:3;
        &__input{
          font-size: 50px;
          text-align: center;
          line-height: 250px;
          color: #ffffff;
        }
      }
      .preview{
        height: 250px;
        width: 350px;
        position:absolute;
        top: 0px;
        left: 0px;
        background-color: #eeeeee;
        z-index:2;
      }
      .background_img{
        height: 250px;
        width: 350px;
        z-index:1;
      }
    }

    .display_and_controller{
      display:flex;
      margin-top: 20px;
      .col{
        margin-bottom: 5px;
        height: 40px;
      }
      .show-value{
        margin-right: 10px;
        width: 140px;
        .col{
          font-size: 20px;
          display: flex;
          font-family: Arial;
        }
      }
      .controller__colors{
        .col{
          font-size: 15px;
          font-family: GEORGIA;
        }
        .controller__colors__image{
          label{
            height: 50px;
            width: 50px;
            background-color: #f8f8f8;
            border: solid 1px #999999;
            border-radius: 4px;

          }
          .vanish{
            display: none
          }
        }
      }
    }
  }
}